# install and build-related things
.DS_Store
*.pyc
__pycache__
*.so
build
dist
*.egg-info
*.ipynb_checkpoints
checkpoint

# plots
*.png
*.pdf

# paper stuff
*.aux
*.bbl
*.blg
*.log
*.synctex.gz

# data
*.vels
*.csv
*.hdf5
data
results
wobble/*.txt